#uno {    background-color: green;}

.backgroundColorPurple{    background-color: purple;}

#sectionFirst p {    background-color: yellow;}

p {    background-color: aqua;}

.form-input{ border: 2px solid grey; padding: 5px;}
.form-input:focus{ background: lightyellow; border-color: blue; outline: none;}
